*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Padauk', sans-serif; ;
}

body{
    background-color: #F6F8F9;
}

header{
    height: 80px;
    background-color: white;
}

header img{
    width: 50px;
    margin: 10px 5px 10px 10px;
    vertical-align: middle;
}

header div{
    display: inline-block;
    font-size: 20px;
    margin: 10px 0px;
    vertical-align: middle;
}

main{
    background-color: white;
    width: 1100px;
    height: 810px;
    margin:60px auto;
    border-radius: 10px;
}

#bottone1{
    background-color: #47ADF1;
    color: white;
    border-radius: 5px ;
    padding: 8px 12px;
    border: 0px;
    margin-right: 5px;
}

#bottone2{
    background-color: white ;
    color: rgb(186, 186, 186);
    border-radius: 5px ;
    padding: 7px 11px;
    border: 1px solid rgb(186, 186, 186);
}

section div{
    padding: 15px 0px 15px 60px;
}

section hr{
    color: #F6F8F9;
    background: #F6F8F9;
    border: 0px;
    height: 2px;
}

ul{
    list-style-type:none
}

.box{
    padding: 30px 60px 0px 60px;
}

ul {
    padding:15px 30px ;
    font-size: 20px;
    } 

li{
    padding-bottom: 20px;
}

section button{
    background-color: #47ADF1;
    color: white;
    border-radius: 15px ;
    padding: 8px 12px;
    border: 0px;
    margin: 0px 5px 0px 5px;
}

#Q1{
    background-color:#9C72E4;
}

#recruting{
    background-color:#64C0A9;
}

#mobile{
    background-color:#F29E33;
}

#website{
    background-color:#D863A1;
}

#sales{
    background-color:#B0C926;
}

